@model IEnumerable<draft.Teacher>

@{
    ViewData["Title"] = "Query8";
}

<p>Search Query:</p>
<p>Знайти вчителів, які викладають тільки курси з кількістю кредитів: {creditNumber}</p>

<p>Find teachers who teach only courses with credits number: {creditNumber}</p>
<p>SQL Query:</p>
<p>
    <code>
        SELECT Teacher.*<br />
            FROM Teacher<br />
            JOIN CourseAssignment ON Teacher.Id = CourseAssignment.TeacherId<br />
            JOIN Course ON CourseAssignment.CourseId = Course.CourseId<br />
            WHERE Course.CreditsNumber = {creditNumber}<br />
            AND NOT EXISTS (<br />
                SELECT *<br />
                FROM Course AS C<br />
                LEFT JOIN CourseAssignment AS CA ON C.CourseId = CA.CourseId AND CA.TeacherId = Teacher.Id<br />
                WHERE C.CreditsNumber <> {creditNumber}<br />
                AND CA.TeacherId IS NOT NULL<br />
            )"<br />
        ;
    </code>
</p>
<p>
    <a asp-controller="Queries" asp-action="Index" class="btn btn-secondary">Back to Index</a>
</p>

@if (Model != null && Model.Any())
{
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Teacher ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Hire Date
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var teacher in Model)
            {
                        <tr>
                            <td>
                        @teacher.Id
                            </td>
                            <td>
                        @teacher.FirstName
                            </td>
                            <td>
                        @teacher.LastName
                            </td>
                            <td>
                        @teacher.HireDate.ToShortDateString()
                            </td>
                        </tr>
            }
            </tbody>
        </table>
}
else
{
        <p>No results found.</p>
}
