@model IEnumerable<draft.Student>

@{
    ViewData["Title"] = "Query2";
}


<p>Search Query:</p>
<p> Знайти всіх студентів, які вивчили хоча б один курс з кафедри з назвою: {departmentName} </p>
<p>Find all students who have studied at least one course from the department with the name: {departmentName}</p>
<p>SQL Query:</p>
<p>
    <code>
        SELECT DISTINCT Student.* <br />
        FROM Student <br />
        JOIN Studying ON Student.Id = Studying.StudentId <br />
        JOIN Course ON Studying.CourseId = Course.CourseId <br />
        JOIN Department ON Course.DepartmentId = Department.DepartmentId <br />
        WHERE Department.Name = {departmentName}
    </code>
</p>

<p>
    <a asp-controller="Queries" asp-action="Index" class="btn btn-secondary">Back to Index</a>
</p>

@if (Model != null && Model.Any())
{
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Enrollment Date
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                        <tr>
                            <td>
                        @student.FirstName
                            </td>
                            <td>
                        @student.LastName
                            </td>
                            <td>
                        @student.EnrollmentDate.ToShortDateString()
                            </td>
                        </tr>
            }
            </tbody>
        </table>
}
else
{
        <p>No results found.</p>
}
