@{
    ViewData["Title"] = "Index";
}

<h1>Queries</h1>

<p>
    <a asp-controller="Queries" asp-action="SearchQ1" class="btn btn-primary">SearchQ1</a>

    <a asp-action="Query2" class="btn btn-primary">Query 2</a>
    <!-- Додайте кнопки для інших методів запитів тут -->
</p>

<p>
    <a asp-action="Index" class="btn btn-secondary">Back to Index</a>
</p>
